@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

:root {
  --primColor: #193452;
  --secColor: #03A7E1;
  --thirdColor: #FC491E;
  --white: #FFFFFF;
  --gray: #D1D1D1;
  --transition: all 0.3s linear;
  font-family: 'Balsamiq Sans', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ++++++++++++++++++++++++ header ++++++++++++++++++++++++*/
.header {
  background-color: var(--primColor);
  padding: 1rem 2rem;
}

.button-wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--secColor);
  text-transform: uppercase;
  /* border-width: 0; */
  display: flex;
  align-items: center;
  transition: var(--transition);
  outline: 0
}

.btn:hover {
  color: var(--thirdColor);
}

.dropdown {
  position: relative;
  display: inline-block;
}

#algo-name {
  width: 7.5rem;
  text-align: center;
  /* background-color: green; */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 3rem;
  left: -0.7rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.dropdown-items {
  display: block;
  text-align: center;
  font-size: 1rem;
  padding: 0.3rem 0;
  transition: var(--transition);
  background-color: var(--primColor);
  color: var(--secColor);
  cursor: pointer;
}

.show {
  display: block;
}

.dropdown-items:hover {
  color: var(--thirdColor);
}

/* ++++++++++++++++++++++++ end of header ++++++++++++++++++++++++*/
.content-divider {
  height: 0.2rem;
  background: linear-gradient(to left, var(--secColor), var(--thirdColor), var(--secColor))
}

/* ++++++++++++++++++++++++ Main ++++++++++++++++++++++++*/
td {
  border: 1px solid black;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.material-icons.start_icon {
  font-size: 18px;
  z-index: 2;
  cursor: pointer;
  display: block;
  color: #18920d;
}

.material-icons.end_icon {
  font-size: 18px;
  z-index: 2;
  cursor: pointer;
  display: block;
  color: red;
}

/* ++++++++++++++++++++++++ end of Main ++++++++++++++++++++++++*/
/* +++++++++++++++ Algorithm Visualization +++++++++++++++++*/
.cellCenter {
  background-color: var(--secColor);
}

.cellSeen {
  background-color: gray;
}

.shortestPath {
  background-color: yellow;
}

.wall {
  background-color: #99582a;
}

/* +++++++++++++++ End of Algorithm Visualization ++++++++++++++++++*/